.active {
  color: #ffffff;
  background-color: #31c48d;
  display: block;
  padding: 0.5rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .active {
    color: #ffffff;
    background-color: #31c48d;
    display: block;
  }
}
