.active {
  color: #ffffff;
  background-color: #6875f5;
  display: block;
  padding: 0.5rem;
}

.active-choice {
  color: #ffffff;
  background-color: #22c55e;
  display: block;
  padding: 0.5rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .active {
    color: #ffffff;
    background-color: #6875f5;
    display: block;
  }
}

.outer {
  display: flex;
  /*center For  vertically*/
  justify-content: center;
  flex-direction: column;
  /*center for horizontally*/
  align-items: center;
}
.inner {
  width: 80%;
}

body {
  font-family: 'Inter';
}
